<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    {% block metatag %}

    {% endblock %}  
    <link href="{% static 'plugins/css/plugins.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>    
<body>
	<div id="main-wrapper">
		<div class="topbar" id="top">
			<div class="header light">
				<div class="container po-relative">
					<nav class="navbar navbar-expand-lg header-nav-bar">
						<a href="{% url 'index' %}" class="navbar-brand"><img src="{% static 'img/logo.png' %}" alt="Astro"></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="ti-align-right"></span></button>
						<div class="collapse navbar-collapse hover-dropdown font-14 ml-auto" id="navigation">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
								<li class="nav-item"><a class="nav-link" href="blogs.html">Horoscope</a></li>
								<li class="nav-item"><a class="nav-link" href="blogs.html">Panchang</a></li>
								<li class="nav-item"><a class="nav-link" href="blogs.html">Kundli</a></li>
								<li class="nav-item"><a class="nav-link" href="blogs.html">Tarot</a></li>
								<li class="nav-item"><a class="nav-link" href="blogs.html">Love</a></li>
								<li class="nav-item dropdown"> 
									<a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More <i class="fa fa-angle-down m-l-5"></i></a>
									<ul class="b-none dropdown-menu font-14 animated fadeInUp">
										<li><a class="dropdown-item" href="index-2.html">Zodiac Signs</a> </li>
										<li><a class="dropdown-item" href="index-2.html">Baby Names</a></li>
										<li><a class="dropdown-item" href="index-2.html">Vastu</a> </li>
										<li><a class="dropdown-item" href="index-2.html">Planet</a> </li>
										<li><a class="dropdown-item" href="index-2.html">Remedies</a> </li>
										<li><a class="dropdown-item" href="index-2.html">Palm Reading</a></li>
										<li><a class="dropdown-item" href="index-2.html">Chinese Astrology</a></li>
										<li><a class="dropdown-item" href="index-2.html">Spirituality</a></li>
										<li><a class="dropdown-item" href="index-2.html">Vedic Astrology</a></li>
									</ul>
								</li>
							</ul>	
							<div class="act-buttons">
								<a href="javascript:void(0)" class="login" data-toggle="modal" data-target="#signin"><i class="fa fa-sign-in pr-2"></i>Login</a>
								<a class="btn theme-btn font-14" href="#">Consult Now</a>
							</div>				
						</div>
					</nav>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		{% block content %}

        {% endblock %}
        <footer class="image-bg skin-dark-footer">
			<div>
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-4">
							<div class="footer-widget">
								<aside id="media_image-2" class="widget widget_media_image">
									<a href="index-2.html">
										<img src="{% static 'img/logo-light.png' %}" class="img-fluid mx-auto mb-3" alt="">
									</a>
								</aside>
								<aside id="text-2" class="mt-1 widget widget_text">
									<div class="textwidget"><p class="mg-bottom-0 disable-color">© 2020 Astro. Designd By <a href="https://specso.in/">Specso Technologies</a><br> All Rights Reserved</p>
									</div>
								</aside>
							</div>
						</div>					
						<div class="col-lg-8 col-md-8">
							<div class="row">				
								<div class="col-lg-4 col-md-4">
									<div class="footer-widget">
										<h4 class="widget-title">Useful Category</h4>
										<ul class="footer-menu">
											<li><a href="#">Cafe &amp; Restaurant</a></li>
											<li><a href="#">Business &amp; Services</a></li>
											<li><a href="#">Medical</a></li>
											<li><a href="#">Education</a></li>
											<li><a href="error-page.html">Error page</a></li>
										</ul>
									</div>
								</div>	
								<div class="col-lg-4 col-md-4">
									<div class="footer-widget">
										<h4 class="widget-title">Useful links</h4>
										<ul class="footer-menu">
											<li><a href="#">Digital Marketing</a></li>
											<li><a href="#">Business &amp; Corporate</a></li>
											<li><a href="#">Landing Page</a></li>
											<li><a href="#">Hire &amp; Dedicate</a></li>
											<li><a href="#">Software &amp; App</a></li>
										</ul>
									</div>
								</div>	
								<div class="col-lg-4 col-md-4">
									<div class="footer-widget">
										<h4 class="widget-title">Useful links</h4>
										<p>7744 North Park Place<br>San Francisco, CA 714258</p>
										<p><a href="http://codeminifier.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="364543464659444276505f58525f58511855595b">[email&nbsp;protected]</a></p>
										<p>777-444-2222</p>
									</div>
								</div>	
							</div>
						</div>	
					</div>
				</div>
			</div>	
		</footer>
		<!-- ============================ Footer End ================================== -->	
		
		<!-- Sign Up Window Code -->
		<div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
			<div class="modal-dialog">	
				<div class="modal-content" id="myModalLabel1">
					<div class="modal-header">
						<h5 class="modal-title"><i class="ti-unlock"></i>Creat a Account</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <i class="ti-close"></i>
						</button>
					</div>
					<div class="modal-body">			
						<!-- Nav tabs -->
						<ul class="nav nav-tabs nav-advance theme-bg" role="tablist">
							<li class="nav-item active">
								<a class="nav-link" data-toggle="tab" href="#employer" role="tab">
								<i class="ti-user"></i> Sign In</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#candidate" role="tab">
								<i class="ti-user"></i> Sign Up</a>
							</li>
						</ul>
						<!-- Nav tabs -->	
						<!-- Tab panels -->
						<div class="tab-content">
							<!-- SignIn-->
							<div class="tab-pane fade in show active" id="employer" role="tabpanel">
								<form>		
									<div class="form-group">
										<label>User Name</label>
										<input type="text" class="form-control" placeholder="User Name">
									</div>				
									<div class="form-group">
										<label>Password</label>
										<input type="password" class="form-control" placeholder="*********">
									</div>	
									<div class="form-group">
										<span class="c-box-checkbox">
											<input id="rmp-3" class="checkbox-custom" name="rmp-3" type="checkbox">
											<label for="rmp-3" class="checkbox-custom-label">Remember Me</label>
										</span>
										<a href="#" title="Forget" class="float-right">Forgot Password?</a>
									</div>
									<div class="form-group text-center">
										<button type="button" class="btn theme-btn full-width btn-m">LogIn </button>
									</div>	
								</form>
								<div class="log-option"><span>OR</span></div>
								
								<div class="row mrg-bot-20">
									<div class="col-md-6">
										<a href="#" title="" class="fb-log-btn log-btn"><i class="fa fa-facebook"></i>SignIn With Facebook</a>
									</div>
									<div class="col-md-6">
										<a href="#" title="" class="gplus-log-btn log-btn"><i class="fa fa-google-plus"></i>SignIn With Google+</a>
									</div>
								</div>
							</div>
							<!--/.Panel 1-->
							
							<!-- SignUp Panel -->
							<div class="tab-pane fade" id="candidate" role="tabpanel">
								<form>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="form-group">
												<label>Phone No</label>
												<input type="number" class="form-control" placeholder="Enter Phone Number">
											</div>
										</div>
									</div>	
									<div class="form-group text-center">
										<button type="button" class="btn theme-btn full-width btn-m">Sign Up</button>
									</div>			
								</form>
								
								<div class="log-option"><span>OR</span></div>
								
								<div class="row mrg-bot-20">
									<div class="col-md-4">
										<a href="#" title="" class="mail-log-btn log-btn"><i class="fa fa-envelope"></i>SignUp With Email</a>
									</div>
									<div class="col-md-4">
										<a href="#" title="" class="fb-log-btn log-btn"><i class="fa fa-facebook"></i>SignUp With Facebook</a>
									</div>
									<div class="col-md-4">
										<a href="#" title="" class="gplus-log-btn log-btn"><i class="fa fa-google-plus"></i>SignUp With Google+</a>
									</div>
								</div>
							</div>
							<!--/.Panel 2-->	
						</div>
						<!-- Tab panels -->
					</div>
				</div>
			</div>
		</div>   
		<!-- End Sign Up Window -->	
	</div></div>
	<!-- End Sign Up Window -->
	<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="{% static 'plugins/js/jquery.min.js' %}"></script>
		<script src="{% static 'plugins/js/jquery-ui.min.js' %}"></script>
		<script src="{% static 'plugins/js/jquery.fancybox.min.js' %}"></script>
		<script src="{% static 'plugins/js/aos.js' %}"></script>
		<script src="{% static 'plugins/js/popper.min.js' %}"></script>
		<script src="{% static 'plugins/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'plugins/js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'plugins/js/jquery-rating.js' %}"></script>
		<script src="{% static 'plugins/js/slick.js' %}"></script>
		<script src="{% static 'plugins/js/imagesloaded.js' %}"></script>
		<script src="{% static 'plugins/js/isotope.min.js' %}"></script>
		<script src="{% static 'plugins/js/select2.min.js' %}"></script>
		<script src="{% static 'plugins/js/bootstrap-slider.js' %}"></script>
		<script src="{% static 'plugins/js/datedropper.min.js' %}"></script>
		<script src="{% static 'plugins/js/dropzone.js' %}"></script>
		
		<script src="{% static 'plugins/js/placeholders.min.js' %}"></script>
		<script src="{% static 'plugins/js/timedropper.js' %}"></script>
		
		<script src="http://maps.google.com/maps/api/js?key="></script>
		<script src="{% static 'plugins/js/map_infobox.js' %}"></script>	
		<script src="{% static 'plugins/js/markerclusterer.js' %}"></script>
		<script src="{% static 'js/custom-maps.js' %}"></script>
		
		<!-- Custom js -->
		<script src="{% static 'js/custom.js' %}"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->
</body> 
</html>